.todo {
  padding: 20px 5px;
  display: flex;
  border-top: 1px solid #efefef;;
  &_title {
    flex: 1;
  }
}

.checkbox {
  margin-right: 10px;
  input {
    display: none;
  }
  label {
    display: flex;
    border: 2px solid #efefef;
    border-radius: 30px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    svg {
      opacity: 0;
    }
  }
  input:checked + label {
    border: 1px solid #77c0af;
    svg {
      opacity: 1;
      path {
        stroke: #77c0af;
      }
    }
  }
}
